<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">GoogleMapsViewer</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul id="ulHeaderMenu" class="nav navbar-nav">
                <li id="lnkHome" class="active">
                    <a href="/Home/Index">Crear Ruta</a>
                </li>
                <li id="lnkRoute" class="active">
                    <a href="/Route/Index">Ver Rutas</a>
                </li>
                <li id="lnkGeolocationApi">
                    <a href="/GeolocationApi/Index">S. Localizacion</a>
                </li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</nav>